.w100
  width 100%
.pr
  position relative
.pa
  position absolute
.pcy
  position absolute
  top:50%
  left 0
  transform: translate(-50%)
.pacy
  position absolute
  top:50%
  transform: translate(0,-50%)
.pc
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
.ta
  text-align: center
.va
  vertical-align: middle
.vt
  vertical-align: top
.no_data
  text-align: center
  margin-top 40rpx
.eli
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
.nowrap
  white-space nowrap
.red
  color red
.xian
  width 100%
  height .4rem 
  background #f8f8f8
  margin-top .2rem
.van-button
  border-radius .2rem
.dialog_content .van-dialog__message
  border-top 1px dashed #ccc
  margin-top .3rem
  border-bottom 1px dashed #ccc
  padding-top 0.66667rem
.dialog_content .van-dialog__footer--buttons
  padding .4rem 0
.van-dialog .van-dialog__footer--buttons .van-button--default
  background #D4D4D4
  width 46%
  margin-right 4%
  height 1.1rem
  line-height 1.1rem
.van-dialog .van-dialog__footer--buttons .van-dialog__confirm,.van-dialog__footer--buttons .van-dialog__confirm:active
  background #DB3030
  color #fff
  margin-right 0
  margin-left 4%
.van-dialog__footer--buttons
  padding: 10px 20px;
.van-dialog  .van-dialog__content
    border-top 1px dashed #ccc
    border-bottom 1px dashed #ccc
    margin 0 0.2rem
.van-hairline--top::after{
  border-top-width:0
}
.van-dialog .van-dialog__header{
  font-weight: bold;
    padding-bottom: 0.5rem;
    font-size: 0.4rem;
}
.van-dialog__message--has-title{
    color:#1A1A1A;
}
.van-button--danger{
  background-color:#EC493C;
}
.border_color [class*=van-hairline]::after{
  border-color:#e9e9e9;
}
.text_right{
  text-align:right;
}
.align_items_center .van-cell{
      align-items: center;
}
.ellipsis_box .van-cell__value{
    flex: none;
    padding-left:0.2rem;
}