// padding
for ft in 1..300
  .pd{ft}-x
    padding-right 1px * ft
    padding-left 1px * ft
  .pd{ft}-y
    padding-top 1px * ft
    padding-bottom 1px * ft
  .pd{ft}
    padding: 1px * ft
  .pdt{ft}
    padding-top: 1px * ft
  .pdb{ft}
    padding-bottom: 1px * ft
  .pdr{ft}
    padding-right: 1px * ft
  .pdl{ft}
    padding-left: 1px * ft
  .mg{ft}-x
    margin-right 1px * ft
    margin-left 1px * ft
  .mg{ft}-y
    margin-top 1px * ft
    margin-bottom 1px * ft
  .mg{ft}
    margin: 1px * ft
  .mgt{ft}
    margin-top: 1px * ft
  .mgb{ft}
    margin-bottom: 1px * ft
  .mgr{ft}
    margin-right: 1px * ft
  .mgl{ft}
    margin-left: 1px * ft
