@import './color.styl'
.sup-color
  color $sup
.main-color
  color $main
.active-bg
  background-color $main
  color #fff
.bgw
  background-color #fff
.h1
  color $h1
.h6
  color $h6
.br8
  border-radius: 8px
.box-shadow
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.1), 0px 12px 17px 2px rgba(0,0,0,0.1), 0px 5px 22px 4px rgba(0,0,0,0.1) !important;
.border
  border-bottom 0.5px solid $border
.border-top
  border-top 0.5px solid $border
.none
  display:flex
  justify-content:center
  align-items:center
  padding: 20px 0;
  span:before, span::after
    content: ''
    display: inline-block
    background: #818181
    width: 2px
    height: 2px
    border-radius: 50%
    vertical-align: middle
    margin-left: 6px
    margin-right: 6px
.none::before, .none::after
    display: inline-block
    content: ''
    background: #818181
    width: 25%
    height: 0.5Px
    vertical-align: middle;

